body{
    width: 600px;
    margin: 15px auto; 
}

form{
    height: 400px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.gradient{
    background-color: inear-gradient(blue 50%, #ff99cc);
}